[submodule "tools/gdocker"]
	path = tools/gdocker
	url = https://github.com/xiongyumail/gdocker
[submodule "tools/esp-idf"]
	path = tools/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "projects/lcd_cam_loopback/components/lcd_cam"]
	path = projects/lcd_cam_loopback/components/lcd_cam
	url = https://github.com/xiongyumail/lcd_cam
[submodule "projects/hmi/components/lcd_cam"]
	path = projects/hmi/components/lcd_cam
	url = https://github.com/xiongyumail/lcd_cam
[submodule "projects/hmi/components/esp_lua_lib"]
	path = projects/hmi/components/esp_lua_lib
	url = https://github.com/xiongyumail/esp_lua_lib
[submodule "projects/hmi/components/esp_lua"]
	path = projects/hmi/components/esp_lua
	url = https://github.com/xiongyumail/esp_lua
